{% extends "base.html" %}
{% block baslik %}{{ dosya.baslik }}{% endblock %}
{% block metalar %}
		<meta name="description" content="{{ dosya.aciklama_sef }}">
		<meta name="keywords" content="{{ dosya.etiketler }}">
{% endblock %}
{% block cssler %}
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
{% endblock %}
{% block navbar %}
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="brand" href="/">Halit Alptekin</a>
					<div class="nav-collapse">
						<ul class="nav">
							<li><a href="/">Anasayfa</a></li>
							<li><a href="/blog">Blog</a></li>
							<li><a href="/makaleler">Makaleler</a></li>
							<li><a href="/dosyalar">Dosyalar</a></li>
							<li><a href="/sayfa/hakkimda">Hakkimda</a></li>
							<li><a href="/sayfa/iletisim">Iletisim</a></li>
						</ul>				
					</div>
				</div>
			</div>
		</div>
{% endblock %}
{% block content %}
			<div class="row">
					<div class="span3">
						<h3 class="submenu">HdBlog</h3>
						<div class="progress progress-info">
						  <div class="bar" style="width: 20%;">%20</div>
						</div>
						<h3 class="submenu">Kategoriler</h3>
						 <ul class="nav nav-list">
							<li class="nav-header">Blog</li>
							{% for bkategori in bkategoriler %}
							<li><a href="{{ bkategori.get_absolute_url }}" title="{{ bkategori.aciklama_sef }}"><i class="{{ bkategori.kategori_resim }}"></i> {{ bkategori.sef_baslik }}</a></li>
							{% endfor %}
							<li class="nav-header">Makaleler</li>	
							{% for mkategori in mkategoriler %}
							<li><a href="{{ mkategori.get_absolute_url }}" title="{{ mkategori.aciklama_sef }}"><i class="{{ mkategori.kategori_resim }}"></i> {{ mkategori.sef_baslik }}</a></li>
							{% endfor %}		
						</ul>
						<br>
						<h3 class="submenu">Sayfalar</h3>
						 <ul class="nav nav-list">
							{% for sayfa in sayfalar %}
							<li><a href="{{ sayfa.get_absolute_url }}" title="{{ sayfa.aciklama_sef }}"><i class="{{ sayfa.resim }}"></i> {{ sayfa.sef_baslik }}</a></li>
							{% endfor %}
						</ul>
						<br>					
						<h3 class="submenu">Makaleler</h3>
						<ul class="nav nav-list">
							{% for lmakale in listmakale %}
							<li><a href="{{ lmakale.get_absolute_url }}" title="{{ lmakale.aciklama_sef }}"><i class="{{ lmakale.kategori.kategori_resim }}"></i> {% if lmakale.sef_baslik|length >= 25 %} {{ lmakale.sef_baslik|slice:":25" }}... {% else %} {{ lmakale.sef_baslik }} {% endif %}</a></li>
							{% endfor %}
						</ul>
						<br>
						<h3 class="submenu">Dosyalar</h3>
						<ul class="nav nav-list">
							{% for dosya in dosyalar %}
							<li><a href="{{ dosya.get_absolute_url }}" title="{{ dosya.aciklama_sef }}"><i class="icon-download"></i> {% if dosya.sef_baslik|length >= 25 %} {{ dosya.sef_baslik|slice:":25" }}... {% else %} {{ dosya.sef_baslik }} {% endif %}</a></li>
							{% endfor %}
						</ul>
						<br>
						<h3 class="submenu">Duyurular</h3>
						<ul class="nav nav-list">
							{% for duyuru in duyurular %}
							<li><a href="{{ duyuru.get_absolute_url }}" title="{{ duyuru.aciklama_sef }}"><i class="{{ duyuru.resim }}"></i> {% if duyuru.sef_baslik|length >= 25 %} {{ duyuru.sef_baslik|slice:":25" }}... {% else %} {{ duyuru.sef_baslik }} {% endif %}</a></li>
							{% endfor %}
						</ul>
						<br>
						<h3 class="submenu">Reklamlar</h3>
						<ul class="nav nav-list">
							{% for tanitim in tanitimlar %}
							<li><a href="{{ tanitim.get_absolute_url }}" title="{{ tanitim.aciklama_sef }}"><i class="{{ tanitim.resim }}"></i> {% if tanitim.sef_baslik|length >= 25 %} {{ tanitim.sef_baslik|slice:":25" }}... {% else %} {{ tanitim.sef_baslik }} {% endif %}</a></li>
							{% endfor %}
						</ul>
						<br>
						{% for ban in banner %}
						<a href="{{ ban.link }}" class="thumbnail" title="{{ ban.sef_baslik }}">
							<img src="/media/{{ ban.resim }}" alt="{{ ban.aciklama_sef }}" title="{{ ban.aciklama_sef }}">
						</a>
						<br>
						{% endfor %}
					</div>
					<div class="span9">
						<div class="alert alert-info">
							<a class="close" data-dismiss="alert" href="#">&times;</a>
							<div class="row">
							{% for tex in textlink %}
							{% if tex.sira == 1 or tex.sira == 2 %}
							<div class="span4"><a href="{{ tex.link }}" title="{{ tex.sef_baslik }}"><h4 class="alert-heading">{{ tex.baslik }}</h4></a><span>{{ tex.aciklama }}</span></div>
							{% endif %}
							{% endfor %}
							</div>
						</div>
						<div class="alert alert-block">
						  <a class="close" data-dismiss="alert" href="#">&times;</a>
							  <h4 class="alert-heading">Onemli Uyari!</h4>
							  <span>Indirdiginiz dosyanin guvenliginden siz sorumlusunuz.Hicbir sekilde <strong>halitalptekin.com</strong> sorumlu tutulamaz.</span><br>						  
						</div>
						
						<ul class="thumbnails">
							<li class="span3">
								<img src="/media/img/dosya/{{ dosya.dosya_resim }}.png" alt="{{ dosya.aciklama_sef }}">
							</li>
							<li class="span6">
								<div class="caption">
								  <h1><a>{{ dosya.baslik }}</a> <small>{{ dosya.olusturulma|date:"d F Y" }}</small> </h1> 
								  <p>{{ dosya.aciklama }}</p>
									<table class="table table-bordered">
									<tbody>
									
									<tr>
										<th>
											Dosya Turu
										</th>
										<td>
											<span class="label label-info">{{ dosya.dosya_turu }}</span>
										</td>
									</tr>							
									
									<tr>
										<th>
											Eklenme Tarihi
										</th>
										<td>
											{{ dosya.olusturulma }}
										</td>
									</tr>
									
									<tr>
										<th>
											Guncellenme Tarihi
										</th>
										<td>
											{{ dosya.degistirilme }}
										</td>
									</tr>
									<tr>
										<th>
											Indirme Linki
										</th>
										<td>
											<a href="{{ dosya.dosya_kaynak }}"><span class="label label-info">{{ dosya.dosya_kaynak }}</span></a>
										</td>
									</tr>								
									
									</tbody>
								</table>
						<div id="disqus_thread"></div>
						<script type="text/javascript">
						    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
						    var disqus_shortname = 'halitalptekin'; // required: replace example with your forum shortname
						    /* * * DON'T EDIT BELOW THIS LINE * * */
						    (function() {
						        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
						        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
						        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
						    })();
						</script>
						<noscript>Lutfen Javascripti Etkinlestiriniz <a href="http://disqus.com/?ref_noscript">Disqus</a></noscript>
						<a href="http://disqus.com" class="dsq-brlink">Tesekkurler  <span class="logo-disqus">Disqus</span></a>								
								</div>
							</li>	
						</ul>
						<hr>
						<div class="alert alert-info">
							<a class="close" data-dismiss="alert" href="#">&times;</a>
							<div class="row">
							{% for tex in textlink %}
							{% if tex.sira == 3 or tex.sira == 4 %}
							<div class="span4"><a href="{{ tex.link }}" title="{{ tex.sef_baslik }}"><h4 class="alert-heading">{{ tex.baslik }}</h4></a><span>{{ tex.aciklama }}</span></div>
							{% endif %}
							{% endfor %}
							</div>
						</div>							
					</div>
				</div>
			<hr>
			<!-- Alt Kisim -->
			<div class="row">
				<div class="span12 footer">
					<p>Tasarim: <a href="https://github.com/halitalptekin/HDBlog-Theme"><span class="label label-info">Bootstrap</span></a> Kodlama: <a href="http://www.halitalptekin.com"><span class="label label-info">Python ve Django</span></a> Sistem: <a href="https://github.com/halitalptekin/hdblog"><span class="label label-info">HDBlog</span></a></p>
					<p><a href="/rss/yazilar/"><span class="label label-warning">Yazilar</span></a> <a href="/rss/makaleler/"><span class="label label-warning">Makaleler</span></a> <a href="/rss/dosyalar/"><span class="label label-warning">Dosyalar</span></a> <a href="/rss/duyurular/"><span class="label label-warning">Duyurular</span></a></p>
					<p>Halit Alptekin &copy; 2012</p>
				</div>
			</div>
{% endblock %}	
{% block javascriptler %}
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/bootstrap-alert.js"></script>
	<script src="/static/js/bootstrap-collapse.js"></script>
{% endblock %}