{% extends "base.html" %}
{% block baslik %}- Link Kisaltma Servisi{% endblock %}
{% block cssler %}
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
{% endblock %}
{% block navbar %}
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="brand" href="/">Halit Alptekin</a>
					<div class="nav-collapse">
						<ul class="nav">
							<li><a href="/">Anasayfa</a></li>
							<li><a href="/blog">Blog</a></li>
							<li><a href="/makaleler">Makaleler</a></li>
							<li><a href="/dosyalar">Dosyalar</a></li>
							<li><a href="/sayfa/hakkimda">Hakkimda</a></li>
							<li><a href="/sayfa/iletisim">Iletisim</a></li>
						</ul>				
					</div>
				</div>
			</div>
		</div>
{% endblock %}
{% block content %}
			<div class="row">
					<div class="span12">
					<h1><a href="/link">HDBlog Link Kisaltma Servisi</a></h1>
					<hr>
					<div class="row">
						<div class="span12">
							<div class="control-group">
								<form class="form-horizontal" id="url_submit_form" method="POST" action="/link/">
									{% csrf_token %}
									<div class="row">
										<div class="span5">
											<div class="control-group {% if error %}error{% endif %}">
												<input type="text" name="url"
													   placeholder="http://www.halitalptekin.com"
													   value="{% if url %}{{ url }}{% endif %}"
													   id="url_input"
													   class="span5">
												{% if error %}
													<span class="help-inline">Lutfen Dogru Bir URL Giriniz</span>
												{% endif %}												
												
											</div>
										</div>
										<div class="span2">
											<button type="submit" class="btn btn-info">Kisalt</button>
										</div>
									</div>
								</form>
							</div>
						{% if shorturl %}
							<h2>Tebrikler!</h2>
							<p>Kisaltilmis URL: <a href="{{ shorturl }}">{{ shorturl }}</a></p>
							<p>Istatistikler: <a href="{{ shorturl }}/stats">{{ shorturl }}/stats</a></p>
						{% endif %}
						
						</div>					
					</div>
				</div>
			<hr>
			<!-- Alt Kisim -->
			<div class="row">
				<div class="span12 footer">
					<p>Tasarim: <a href="https://github.com/halitalptekin/HDBlog-Theme"><span class="label label-info">Bootstrap</span></a> Kodlama: <a href="http://www.halitalptekin.com"><span class="label label-info">Python ve Django</span></a> Sistem: <a href="https://github.com/halitalptekin/hdblog"><span class="label label-info">HDBlog</span></a></p>
					<p><a href="/rss/yazilar/"><span class="label label-warning">Yazilar</span></a> <a href="/rss/makaleler/"><span class="label label-warning">Makaleler</span></a> <a href="/rss/dosyalar/"><span class="label label-warning">Dosyalar</span></a> <a href="/rss/duyurular/"><span class="label label-warning">Duyurular</span></a></p>
					<p>Halit Alptekin &copy; 2012</p>
				</div>
			</div>
{% endblock %}	
{% block javascriptler %}
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/bootstrap-alert.js"></script>
	<script src="/static/js/bootstrap-collapse.js"></script>
{% endblock %}