{% extends "base.html" %}
{% block baslik %}- Link Kisaltma Servisi Istatistikleri{% endblock %}
{% block cssler %}
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
{% endblock %}
{% block navbar %}
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="brand" href="/">Halit Alptekin</a>
					<div class="nav-collapse">
						<ul class="nav">
							<li><a href="/">Anasayfa</a></li>
							<li><a href="/blog">Blog</a></li>
							<li><a href="/makaleler">Makaleler</a></li>
							<li><a href="/dosyalar">Dosyalar</a></li>
							<li><a href="/sayfa/hakkimda">Hakkimda</a></li>
							<li><a href="/sayfa/sayfa/iletisim">Iletisim</a></li>
						</ul>				
					</div>
				</div>
			</div>
		</div>
{% endblock %}
{% block content %}
			<div class="row">
					<div class="span12">
					<h1><a href="post.html">Kisaltilmis Link Istatistikleri</a></h1> 
					<br>
					<div class="row">
						<div class="span4">
							<h3>Son 30 Gun</h3>
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>Gun</th>
										<th>Hit</th>
									</tr>
								</thead>
								<tbody>
									{% if stats|length %}
										{% for stat in stats %}
											<tr>
												<td>{{ stat.day }}</td>
												<td>{{ stat.hits }}</td>
											</tr>
										{% endfor %}
									{% else %}
										<tr>
											<td colspan="2" style="text-align: center">Kimse Tiklamamis.</td>
										</tr>
									{% endif %}								
								</tbody>
							</table>
						</div>
						<div class="span5">
						<h3>Link Bilgileri</h3>
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>Link Url</th>
										<th>Toplam Hit</th>
									</tr>
								</thead>
								<tbody>
									
										
											<tr>
												<td><a href="{{ link_url }}"><span class="label label-info">{{ link_url }}</span></a></td>
												<td>{{ link.hits }}</td>
											</tr>
										
									
								</tbody>
							</table>
							<div id="disqus_thread"></div>
							<script type="text/javascript">
								/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
								var disqus_shortname = 'halitalptekin'; // required: replace example with your forum shortname
								/* * * DON'T EDIT BELOW THIS LINE * * */
								(function() {
									var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
									dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
									(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
								})();
							</script>
							<noscript>Lutfen Javascripti Etkinlestiriniz <a href="http://disqus.com/?ref_noscript">Disqus</a></noscript>
							<a href="http://disqus.com" class="dsq-brlink">Tesekkurler  <span class="logo-disqus">Disqus</span></a>								
						</div>
					</div>			
				</div>
			</div>
			<hr>
			<!-- Alt Kisim -->
			<div class="row">
				<div class="span12 footer">
					<p>Tasarim: <a href="https://github.com/halitalptekin/HDBlog-Theme"><span class="label label-info">Bootstrap</span></a> Kodlama: <a href="http://www.halitalptekin.com"><span class="label label-info">Python ve Django</span></a> Sistem: <a href="https://github.com/halitalptekin/hdblog"><span class="label label-info">HDBlog</span></a></p>
					<p><a href="/rss/yazilar/"><span class="label label-warning">Yazilar</span></a> <a href="/rss/makaleler/"><span class="label label-warning">Makaleler</span></a> <a href="/rss/dosyalar/"><span class="label label-warning">Dosyalar</span></a> <a href="/rss/duyurular/"><span class="label label-warning">Duyurular</span></a></p>
					<p>Halit Alptekin &copy; 2012</p>
				</div>
			</div>
{% endblock %}	
{% block javascriptler %}
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/bootstrap-alert.js"></script>
	<script src="/static/js/bootstrap-collapse.js"></script>
{% endblock %}